# bins and any binaries which may have gotten built in the repo root
bin/
/gitgum
/fuzzyfinder
/generate-version

# Go build artifacts accidentally produced in repo root
/gitgum
/generate-version

# Editor / OS noise
.DS_Store
*.swp

cover.out
cover.html